name: .NET Publish

on:
  push:
    tags: [ "v[0-9]+.[0-9]+.[0-9]+", "v[0-9]+.[0-9]+.[0-9]+-[a-z]+" ]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        dotnet-version: [ '10.0.x' ]
    timeout-minutes: 10
    
    services:
      kurrent:
        image: docker.kurrent.io/kurrent-latest/kurrentdb:25.0.1
        env:
          KURRENTDB_CLUSTER_SIZE: 1
          KURRENTDB_RUN_PROJECTIONS: All
          KURRENTDB_START_STANDARD_PROJECTIONS: true
          KURRENTDB_INSECURE: true
          KURRENTDB_ENABLE_ATOM_PUB_OVER_HTTP: true
        ports:
          - 2113:2113

    steps:
      - uses: actions/checkout@v3
      - name: Verify commit
        run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
          git branch --remote --contains | grep origin/main
      - name: Set VERSION variable from tag
        run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
      - name: Setup .NET ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        run: dotnet test --configuration Release --no-build --verbosity normal
      - name: Pack
        run: dotnet pack --configuration Release /p:Version=${VERSION} --no-build --output .
      - name: Push
        run: dotnet nuget push NiallMaloney.EventSourcing.${VERSION}.nupkg --source https://nuget.pkg.github.com/niall-maloney/index.json --api-key ${GITHUB_TOKEN}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
